.banner {
    display: flex;
    width: 80%;
    height: 223px;
    margin: auto;
    border-radius: 25px;
    background-image: url('../assets/background.svg');
    opacity:0.8;
    background-color: black;
    background-blend-mode: hard-light;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: white;
    margin-top: 50px;
}
