.cardWrapper {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    margin: 50px auto;
    padding-left: 0;
    justify-content: space-between;
    background-color: #F6F6F6;
    border-radius: 25px;
}

.card {
    width: 340px;
    height: 340px;
    background-color:#FF6060;
    background: linear-gradient(180deg, #FF6060 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
    list-style-type: none;
    color: white;
    display: flex;
    align-items: flex-end;
    margin: 60px;
}

.cardText {
    z-index: 1;
    font-size: 18px;
    margin: 0 20px 30px 20px;
}

.cardWrapper a {
    text-decoration: none;
}

.backgroundImage {
    position: absolute;
    width: 340px;
    height: 340px;
    object-fit: cover;
    border-radius: 10px;
}

