.collapseWrapper {
    margin: 50px auto;
    width: 70%;
}

.collapseItem {
    margin: 30px auto;
    width: 100%;
}

.collapseTitle {
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: #ff6060;
    border-radius: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 24px;
    font-weight: 500;
    line-height: 2.567rem;
}
  
.collapseContent {
    height: auto;
    padding: 15px;
    font-size: 24px;
    font-weight: 400;
    line-height: 2.567rem;
    color: #ff6060;
    background-color: #F7F7F7;;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.collapseList{
    list-style-type: none;
    padding-left: 0px;
}

@media (max-width: 768px) {
    .collapseItem {
        margin: 10px auto;
    }

    .collapseTitle {
        height: 30px;
        border-radius: 5px;
        font-size: 13px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .arrow{
        height: 9px;
    }

    .collapseContent {
        font-size : 12px;
        line-height: 20px;
        padding: 10px;
    }
}
  