.host {
    display: flex;
    justify-content: flex-end ;
    margin-bottom: 35px;
}
  
.hostName {
    font-size: 18px;
    font-weight: 500;
    margin-right: 15px;
    margin-top: 10px;
}

.hostName p {
    margin: 0;
    text-align: end;
}

.hostPicture {
    border-radius: 50%;
    height: 64px;
    width: 64px;
}

@media (max-width: 768px) {
    .host {
        margin: 10px 0;
    }
    .hostName {
        font-size: 12px;
        font-weight: 500;
        margin-right: 8px;
        margin-top: 0;
    }
    
    .hostPicture {
        width: 32px;
        height: 32px;
    }
}
