.tagWrapper {
    display : flex;
}

.tag {
    display: flex;
    background: #FF6060;
    height:25px;
    border-radius: 10px;
    color: white;
    padding: 5px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    min-width: 68px;
    text-align: center;
    align-items: center;
}

.tagText {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

@media (max-width: 768px) {
    .tagWrapper {
        width: 90%;
    }
    .tag {
        height: 18px;
        border-radius: 5px;
        justify-content: left;
        padding: 5px;
        margin-top: 15px;
        margin-right: 10px;
        justify-content: center;
    }

    .tagText {
        font-size: 10px;
    }
}